################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/LionApp/FileContentIndex/242562ec-44ed-42f0-b7f8-00a7c09d8727.vsidx
/.vs/LionApp/FileContentIndex/a53f216e-6083-455b-a080-008810603a43.vsidx
/.vs/LionApp/FileContentIndex/b1c3f88b-b07d-4acd-bc24-ade8477194a3.vsidx
/.vs/LionApp/FileContentIndex/bd12d9d8-b738-410a-8a68-ff40a2d29dfb.vsidx
